Repository rayantProject/rayantraore: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, biome-format, no-console

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,jsx,ts,tsx,json,jsonc}"
      run: yarn biome check --write {staged_files}
      stage_fixed: true
    
    biome-format:
      glob: "*.{js,jsx,ts,tsx,json,jsonc,css,md}"
      run: yarn biome format --write {staged_files}
      stage_fixed: true
    
    no-console:
      glob: "apps/client/**/*.{ts,tsx}"
      run: |
        if grep -r "console\." {staged_files}; then
          echo "‚ùå Console statements found in staged files. Please remove them."
          exit 1
        fi

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

pre-push:
  commands:
    lint-all:
      run: yarn biome check

feat: add animated hero section with Motion and UI components
  apps/client/components.json
  apps/client/package.json
  apps/client/src/app/globals.css
  apps/client/src/app/layout.tsx
  apps/client/src/app/page.tsx
  apps/client/src/components/home/hero-section.tsx
  apps/client/src/components/home/networks-section.tsx
  apps/client/src/components/system/header.tsx
  apps/client/src/components/system/logo.tsx
  apps/client/src/components/system/shader-background.tsx
  apps/client/src/components/system/theme-toggle.tsx
  apps/client/src/components/ui/button.tsx
  apps/client/src/components/ui/form.tsx
  apps/client/src/components/ui/label.tsx
  apps/client/src/lib/utils.ts
  apps/test/.gitignore
  apps/test/README.md
  apps/test/app/favicon.ico
  apps/test/app/globals.css
  apps/test/app/layout.tsx
  apps/test/app/page.tsx
  apps/test/components.json
  apps/test/eslint.config.mjs
  apps/test/next.config.ts
  apps/test/package.json
  apps/test/postcss.config.mjs
  apps/test/public/file.svg
  apps/test/public/globe.svg
  apps/test/public/next.svg
  apps/test/public/vercel.svg
  apps/test/public/window.svg
  apps/test/tsconfig.json
  biome.json
  yarn.lock
Due: biome-check, biome-format, no-console

chore: remove test app and associated files
  apps/test/.gitignore
  apps/test/README.md
  apps/test/app/favicon.ico
  apps/test/app/globals.css
  apps/test/app/layout.tsx
  apps/test/app/page.tsx
  apps/test/components.json
  apps/test/eslint.config.mjs
  apps/test/next.config.ts
  apps/test/package.json
  apps/test/postcss.config.mjs
  apps/test/public/file.svg
  apps/test/public/globe.svg
  apps/test/public/next.svg
  apps/test/public/vercel.svg
  apps/test/public/window.svg
  apps/test/tsconfig.json
Due: biome-check, biome-format

fix: update dependency installation command in deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: implement code changes to enhance functionality and improve performance
  .vscode/settings.json
  yarn.lock
Due: biome-check, biome-format

fix(ci): utiliser yarn install --immutable dans GitHub Actions
  .github/workflows/deploy.yml
  yarn.lock
Due: none

fix: update social media links for Twitter and Instagram
  apps/client/src/consts/networks.tsx
Due: biome-check, biome-format, no-console

refactor: remove unused blog link and clean up mobile navigation in header
  apps/client/src/app/favicon.ico
  apps/client/src/app/logo_RT.ico
  apps/client/src/components/system/header.tsx
Due: biome-check, biome-format, no-console

fix: add navigation links to Projects and Contact buttons in HeroSection
  apps/client/src/components/home/hero-section.tsx
Due: biome-check, biome-format, no-console

[ImgBot] Optimize images
  apps/client/public/rt-photo/rt-durag.jpeg
Due: none

feat: update dependencies and contact email
  apps/client/package.json
  apps/client/src/consts/contact.ts
  package.json
  yarn.lock
Due: biome-check, biome-format, no-console

fix: update contact email and refactor footer and contact card components
  apps/client/src/components/contact/contact-card.tsx
  apps/client/src/components/system/footer.tsx
  apps/client/src/consts/contact.ts
Due: biome-check, biome-format, no-console
